
.Core{
	position: absolute;
	top: 800px;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	z-index: 1;
}

.Core__wrapper{
	position: relative;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 1140px;
	transform: translateX(-50%);
	
}
.Core__col{
	width: 100%;
}

.Core__item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 20px 0px;
}
.Core__item-card{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0 20px;
}